<ul class="icon1 sub-icon1 profile_img wishlists-popup">
    <li>
        <a class="active-icon c1" href="{% url "wishlist" %}">
            <i class="fa fa-heart-o"></i>
            <span class="number-items">{{wishlist_count}}</span>
        </a>
        <ul class="sub-icon1 list">
            <li><h3>Списки желаний</h3></li>
            
            {% if not user.is_authenticated %}
                <li class="txt-short-cart"><p>если в списке желаний позиции отсутствуют, <a href="{% url 'login' %}">войдите в свой акаунт</a> чтобы увидеть их</p></li>
            {% else %}
            {% for item in request.user.wishlists.all %}
            <li class="item-wishlist-popup">
                <a href="{{item.get_absolute_url}}" title="{{item.title|striptags}}">
                    {{item.name|striptags|truncatechars:50}}
                </a>
            </li>
            
            {% if forloop.last %}
            <li>
                <div class="text-center">
                    <a class="link-internal go-to-cart margBot10 margTop10" href="{% url "wishlist" %}"><i class="fa fa-heart-o"></i> Смотреть все списки</a>
                </div>
            </li>
            {% endif %}
            
            {% empty %}
             <li class="txt-short-cart"><p>Списки желаний не заданы. Добавьте товар или <a href="{% url 'wishlist' %}">создайте</a> список в своём профиле.</p></li>
            {% endfor %}
            {% endif %}
        </ul>
    </li>
</ul>