{% extends "base.html" %}
{% load i18n catalog_tags %}


{% block content %}
<div class="row">
{% block content-sb-left %}
		<div class="medium-2 columns">
			{% get_categories_in_sidebar %}
		</div>
	
	<div class="medium-7 large-8 columns">
	{% endblock content-sb-left %}
		<div class="block-flat">
			{% block content-body %}
			{% endblock content-body %}
		</div>
	</div>
	{% block content-sb-right %}
	<div class="medium-3 large-2 columns">
		
		{% block biz-sbnav %}
			{% with ActiveProfileSb="my_reviews" %}
				{% include "userprofiles/includes/left_menu_profile.html" %}
			{% endwith %}
		{% endblock biz-sbnav %}	
		
	</div>
	{% endblock content-sb-right %}
</div>
{% endblock content %}