{% extends "overviews/base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block title %}{% trans 'Preview ' %}{{ object.title|striptags|safe }}{% endblock %}
{% block description %}{{ object.description|safe|striptags|truncatechars:140 }}{% endblock %}
{% block keywords %}{{ object.title|striptags }}{% endblock %}

{% block crumbs %}
	<li><a href="{{ object.entry.category.parent.get_absolute_url }}">{{ object.entry.category.parent.title }}</a></li> 
	<li><a href="{{ object.entry.category.get_absolute_url }}">{{ object.entry.category.title }}</a></li> 
	<li><a href="{{ object.entry.get_absolute_url }}">{{ object.entry.title }}</a></li> 
	<li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li> 
	<li class="current">>{% trans 'Preview ' %}</li>
{% endblock %}



{% block content-body %}
<div class="title-block">
	<h1>{% trans 'Preview ' %} {{ object.title|striptags|safe }}</h1>
</div>

<div class="detail-wrap">
	<div class="content active min-height" >
		{% if object.image|is_portrait %}
			{% thumbnail object.image "x200" crop="center" as imt %}
				<img class="left th margin-img" src="{{ imt.url }}"/>
			{% endthumbnail %}
		{% else %}
			{% thumbnail object.image "300x200" crop="center" as imt %}
				<img class="left th margin-img" src="{{ imt.url }}"/>
			{% endthumbnail %}
		{% endif %}
		{{ object.body_html|safe }}
	</div>
	{% if object.status == 0 %}
		<a data-reveal-id="delete_modal_overview" onclick="product('{% url 'overviews_delete_popup' object.pk %}')" class="button">{% trans 'Delete' %}</a>
		<a href="{% url 'overviews_edit' object.pk %}" class="button">{% trans 'Edit' %}</a>
		<a data-reveal-id="moderated_modal_overview" onclick="product('{% url 'overviews_moderated_popup' object.pk %}')" class="button">{% trans 'Send for moderation' %}</a>
	{% elif object.status == 1 %}
		<a data-reveal-id="delete_modal_overview" onclick="product('{% url 'overviews_delete_popup' object.pk %}')" class="button">{% trans 'Delete' %}</a>
	{% endif %}
</div>
{% include 'overviews/includes/popup_delete_overview.html' %}
{% include 'overviews/includes/popup_moderated_overview.html' %}
{% endblock %}


