{% load i18n %}
{% load thumbnail staticfiles %}

<div class="cart-list-item">
    <div class="row">
    	<div class="col-xs-2">
    	    <div class="img-wrap">
                <a href="{{ item.product.get_absolute_url }}">
                {% if item.product.image %}
                    {% if item.product.image|is_portrait %}
                        {% thumbnail item.product.image.file "x84" crop="top" as imt %}
                            <img class="img-item img-responsive" src="{{ imt.url }}" alt=""/>
                        {% endthumbnail %}
                        {% else %}
                        {% thumbnail item.product.image.file "122x84" crop="top" as imt %}
                            <img class="img-item img-responsive" src="{{ imt.url }}" alt=""/>
                        {% endthumbnail %}
                    {% endif %}
                {% else %}
                    <img class="img-responsive" src="{% static "images/no-image.png" %}" alt="" />
                {% endif %}
                </a>
            </div>
        </div>
        <div style="padding: 0;" class="col-xs-5">      
            <a class="title" href="{{ item.product.get_absolute_url }}">{{ item.product.title|striptags|safe }} {% if item.product.part_number %} ({{ item.product.part_number }}){% endif %}</a>
            <div class="product-cod">Код товара: {{item.product.upc}}</div>
            <div class="price-item">
                <span>Цена:</span>
                {% if item.product.price %}
                    &#8372; {{ item.product.price|floatformat:0 }}
                {% else %}
                    &#8372; 0.00
                {% endif %}
            </div>    			
        </div>
        	
    	<div class="col-xs-2">
        	<form method="get" id="id_form_quantity" class="js-ajax-form" data-result="#item-price-{{item.id}}|.cart-total" data-action="{% url 'update_to_cart' item.pk %}" action="javascript:void(0)" data-callback="update_cart()">
        		<div class="form-group input-append spinner">
        			 <div class="input-group" data-trigger="spinner">
        			     <a href="javascript:;" class="spin spin-down pull-left" data-spin="down"><i class="fa fa-minus fa-fw"></i></a>
        			     <input type="text" value="{{ item.quantity }}" class="form-control" name="quantity" data-rule="quantity" {% if is_ajax %}class="quantity_{{ item.pk }}"{% endif %} />
        				 <a href="javascript:;" class="spin spin-up pull-left" data-spin="up"><i class="fa fa-plus fa-fw"></i></a> 
        				 <button class="btn refresh" type="submit" title="{% trans "Refresh" %}"><i class="fa fa-refresh"></i></button>
        			</div>
        		</div>
        	</form>
    	</div>
        	
    	<div style="padding-left: 0;" class="col-xs-2">
    		<div class="price-item price-item-total" id="item-price-{{item.id}}">
    			&#8372; {{ item.total_price|floatformat:0 }}
    		</div>
    	</div>
        	
    	<div class="col-xs-1">
    		<a href="javascript:void(0)" class="pull-right btn-delete item-remove" title="{% trans 'Delete' %}" data-url="{% url "remove_product" item.pk %}" data-callback="update_cart();if($('.cart-list-item').length == 0)$('.cart-total').remove()">
    		  <i class="fa fa-trash fa-fw fa-lg"></i>
    		</a>
    	</div>
    </div>
</div>
