{% load i18n %}

<div class="columns small-4 medium-5">{% trans 'Product' %}</div>
<div class="columns small-2 medium-1 ">{% trans 'Price' %}</div>
<div class="columns small-3 medium-3 ">{% trans 'Quantity' %}</div>
<div class="columns small-3 medium-3">{% trans 'Sum' %}</div>
