{% load i18n %}
{% load thumbnail %}

<div class="medium-6 columns">
	<div class="block-flat latest-overviews" data-equalizer-watch>
		<div class="title-block margBot20">
			<div class="title">{% trans "Latest overviews" %}</div>
		</div>
		{% for overview in overview_list %}
			<div class="row overview-item">
					<div class="hide-for-small-only medium-4 large-3 columns">
					{% thumbnail overview.image "130x130" crop="center" as imt %}
						<a href="{{ overview.get_absolute_url }}"><img class="th" src="{{ imt.url }}"/></a>
					{% endthumbnail %}
					</div>
					<div class="medium-8 large-9 columns">
						<div class="title-item"><a title="{{ overview.title }}" href="{{ overview.get_absolute_url }}">{{ overview.title|striptags|safe|truncatechars:54 }}</a></div>
						<span class="date">{{ overview.published_at }}</span><br />
						<p>{{ overview.body_html|striptags|safe|truncatechars:230 }}</p>
					</div>
			</div>
		{% empty %}
			{% trans 'No overviews' %}
		{% endfor %}
	</div>
</div>
