{% load thumbnail %}


{% thumbnail request.user.avatar "268x280" crop="center" as imt %}
	<img class="th" src="{{ imt.url }}"/>
{% empty %}
	<img class="th" src="http://placehold.it/268x280" alt="" />
{% endthumbnail %}
<div id="avatar_loading">
     <img  src="/static/images/loading.gif">
</div>