{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Cart' %}{% endblock %}

{% block crumbs %} 
    <li class="current"><a href="{% url 'cart_list' %}">{% trans 'Cart' %}</a></li>
{% endblock %}

{% block content %}
<h1>{% trans 'Cart' %}</h1>
<div class="cart-list">
	{% for item in cart %}
		{% include "cart/includes/body_cart.html" %}
		{% if forloop.last %}
		<p class="list-empty hidden">{% trans 'Cart empty' %}</p>
		{% endif %}
	{% empty %}
		<p class="list-empty">{% trans 'Cart empty' %}</p>
	{% endfor %}
</div>	
{% if request.cart.cart.total_quantity > 0 %}	
		{% comment %}
		<div class="columns small-4 medium-3">
			<a href="{% url 'order_list' %}" class="button tiny">{% trans 'Checkout' %}</a>
		</div>
		{% endcomment %}

   <div class="cart-total price-item">
	   <div class="row">
    	   <div class="col-xs-9 text-right">
        	   {% trans 'Total' %}:
            </div>
            <div style="padding-left: 0;" class="col-xs-3">
    			<strong>{{ request.cart.cart.total_price }}</strong>
    		</div>
        </div>
   </div>
   <div class="clearfix margBot40">
        <a class="btn green-border add-to-cart btn-order-by btn-default pull-right" href="">
            <i class="fa fa-cart-arrow-down"></i>
            Оформить заказ
        </a>
        <a class="btn btn-reset pull-left" href="{% url 'clear_cart' %}">Очистить корзину</a>
   </div>
{% endif %}

{% endblock %}


{% block head-css %}
{{block.super}}
<link href="{% static "assets/bootstrap/spinner/css/bootstrap-spinner.css" %}" rel="stylesheet">
{% endblock %}

{% block js-initialize %}
{{block.super}}
<script src="{% static "assets/bootstrap/spinner/js/jquery.spinner.js" %}"></script>
{% endblock %}