{% load i18n form_snippets_tags %}
{% csrf_token %}
<div class="form-group">
    {{form.name|css_class:"form-control"|placeholder:"Введите Ваше имя..."}}
    {{form.name.errors}}
</div>
<div class="form-group">
    {{form.email|css_class:"form-control"|placeholder:"Введите адрес электронной почты..."}}
    {{form.email.errors}}
</div>
<div class="form-group">
    {{form.body|css_class:"form-control"|placeholder:"Введите текст сообщения..."}}
    {{form.body.errors}}
</div>

<div class="row">
    <div class="col-xs-7">
        <div class="form-group">
            {{ form.captcha|css_class:"form-control"|placeholder:"Введите код с картинки..." }}
            {{ form.captcha.errors }}
        </div>
        
    </div>    
    <div class="col-xs-5">
         <button type="submit" class="btn btn-default pull-right">{% trans "Send message" %}</button>
    </div>
</div>
