{% load i18n %}
{% if form.non_field_errors %}
<div class="form-group clearfix">
    <div class="name-group{% if form.name.errors %} errors{% endif %}">
        {{ form.name }}
        {{form.name.errors}}
    </div>
    <div class="email-group{% if form.email.errors %} errors{% endif %}">
        {{ form.email }}
        {{form.email.errors}}
    </div>
</div>

<div class="form-group{% if form.body.errors %} errors{% endif %}">
    {{ form.body }}
    {{form.body.errors}}
</div>
<div class="row">
    <div class="col-xs-7 col-sm-8">
        <div class="form-group left{% if form.captch.errors %} errors{% endif %}">
            {{ form.captcha }}
        </div>
    </div>
    
    <div class="col-xs-5 col-sm-4">
         <button type="submit" class="btn orange">{% trans "Send message" %}</button>
    </div>
</div>
		
