{% extends "base.html" %}
{% load i18n staticfiles %}
{% load contact_form_tags %}

{% block main-menu %}{% with ActiveMenu="contact_form" %}{{ block.super }}{% endwith %}{% endblock %}

{% block title-page %}{% trans "Contact Us" %} - {% endblock %}

{% block crumbs %}
<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <span itemprop="title">{% trans "Contacts" %}</span>
</li>
{% endblock %}

{% block content %}
<div id="contact-page" class="clearfix">
    <h1>{% trans "Contact Us" %}</h1>
    
    <div class="h2 margBot20">Консультации и заказ по телефонам:</div>
    
    <div class="row margBot20">
        <div class="col-xs-6 separator-right">
            <div class="contact-info">
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> (044) XXX-XX-XX</li>
                    <li><i class="fa fa-phone fa-fw"></i> (044) XXX-XX-XX</li>
                    <li><i class="fa fa-mobile fa-fw"></i> (063) XXX-XX-XX</li>
                    <li><a href="#"><i class="fa fa-skype fa-fw"></i> <a href="skype:example.skype?call">example.skype</a></a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-6">
            <p class="lead"><i class="fa fa-clock-o fa-fw"></i> График работы магазина:</p>
            <div class="shedule-info">
                <dl class="dl-horizontal">
                    <dt>Пн.-Пт.:</dt>
                  <dd>с 8:00 до 21:00</dd>
                  <dt>Сб.:</dt>
                  <dd>с 9:00 до 20:00</dd>
                  <dt>Вс.:</dt>
                  <dd>с 10:00 до 19:00</dd>
                </dl>
            </div>
        </div>
    </div>
    
    <div class="h2 margBot20">Вы можете нас найти по адресу:</div>
    <div class="contact-info">
        <ul class="list-unstyled">
            <li><i class="fa fa-map-marker fa-fw"></i> г.Винница, ул.Зодчих,28а</li>
        </ul>
    </div>
    <div class="map margBot20">
       <img src="{% static "images/map-bergsoft.jpg" %}" alt="" />
    </div>
    
    <div class="row margBot30">
        <div class="col-xs-12">
           <div class="h2 margBot20">{% trans "You can send us an email through this form" %}</div>
           <p class='thanks' style='display: none'>Thanks for contacting us, we'll be in touch soon!</p>
           <form id="contact-form" method="post" action="{% url 'contact_tags_form' %}" class="js-contact-form">
                {% show_contact_form %}
           </form>
        </div>
    </div>
    
</div>
{% endblock %}
