{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Contacts" %} - {% endblock %}

{% block content %}
{% block content-title %}<h1>{% trans "Thank you, your message is sent" %}</h1>{% endblock %}
<div id="feedback">
<div class="textpage">
  <p>{% trans "it will soon be read and we'll be in touch soon! :)" %}</p>
</div>
</div>
{% endblock %}