{% load i18n %}

<div class="review-item">
	<div class="small-12 ">
		<span class="username">{{ review.user.get_full_name }}</span>
	</div>
	<div class="small-12 ">
		<div class="row">
			<div class="small-7 medium-8 large-9 columns">
				<small class="date">{{ review.created_at }}</small>
			</div>
			{% if review.score != 0 %}
			<div class="small-5 medium-4 large-3 columns">
				{% with width=review.get_stars_score %}
					{% include "reviews/includes/ratings_displayed.html" %}
				{% endwith %}
			</div>
			{% endif %}
		</div>
	</div>
	
	<div class="small-12 ">
		<div class="comment clearfix">
			{{ review.body_html|striptags|safe }}
		</div>
		{% if review.advantages_html or review.disadvantages_html %}
		<div class="ext-comment">
			<div class="advantages clearfix">
				{% if review.advantages_html %}
					<strong>{% trans "Advantages" %}:</strong> {{ review.advantages_html|striptags|safe }}
				{% endif %}
			</div>
			<div class="disadvantages clearfix">
				{% if review.disadvantages_html %}
					<strong>{% trans "Disadvantages" %}:</strong> {{ review.disadvantages_html|striptags|safe }}
				{% endif %}
			</div>
		</div>
		{% endif %}
	</div>
	
	<div class="small-12  usefulness">
		<span>{% trans "Review was useful to you?" %}</span>
		<span class="like_{{ review.pk }}" {% if request.user.is_authenticated %}onclick="VoteReviews('{% url "vote_reviews" review.pk %}', 'like')"{% else %} data-reveal-id="sign"{% endif %}>
			<i class="fi-like"></i> {{ review.count_votes_up }}
		</span> / 
		<span class="dislike_{{ review.pk }}" {% if request.user.is_authenticated %}onclick="VoteReviews('{% url "vote_reviews" review.pk %}', 'dislike')"{% else %} data-reveal-id="sign"{% endif %}>
			<i class="fi-dislike"></i> {{ review.count_votes_down }}
		</span>
	</div>
</div>
