{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="page-error">
    <div id="window">
    	<div><img alt="logo" src="/static/images/logos/logo.png" /></div>
		<h2>{% trans "Error 403" %}</h2>
		<p>{% trans "Access deniedn." %}</p>
		<p>{% trans "You are denied access to this resource." %}</p>	
		<ul class="cubs">
			<li><a href="/feedback/">{% trans "Complain administrator" %}</a></li>
			<li><a href="#" onclick="top.history.back(); return false">{% trans "Back" %}</a></li>
			<li><a href="/">{% trans "Home" %}</a></li>
		</ul>
    </div>
</div>
{% endblock %}