{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>{% trans "500: Internal error" %} :(</title>
  <style type="text/css">
	body {background-color: #fff; color: #333333; text-align: left; font-family: Verdana,Arial,Helvetica,sans-serif; }
	div.dialog {
		width: 25em;
		padding: 0 4em;
		margin: 4em auto 0 auto;
		border: 1px solid #ccc;
		border-right-color: #999;
		border-bottom-color: #999;
	}
	h1 {font-size: 40px; color: #333333; font-weight: normal; margin: 0px; padding: 30px 0px 5px 0px;}
	h3 {font-size: 18px; color: #333333; font-weight: normal; margin: 0px; padding: 0px 0px 10px 0px;}
	p {font-size: 12px;}

	table.p404 {background: #f8f8f8; border: 1px solid #d6d6d6; width: 450px;}

	#h_align {
		position: absolute;
		top: 50%;
		left: 0px;
		width: 100%;
		height: 1px;
		overflow: visible;
		visibility: visible;
		display: block
		}
	
	#content
		{
		margin-left: -224px;
		position: absolute;
		top: -150px;
		left: 50%;
		width: 450px;
		height: 300px;
		visibility: visible
		}
  </style>
</head>

<body>

	<div id="h_align">
		<div id="content">
			<table class="p404" cellspacing="0" cellpadding="0">
			<tr>
				<td colspan="3">&nbsp;</td>
			</tr>
			<tr>
				<td width="50"></td>
				<td><h1>{% trans "Error 500" %}</h1></td>
				<td width="50"></td>
			</tr>
			<tr>
				<td></td>
				<td><h3>{% trans "Internal server error." %}</h3></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td><p>{% trans "There is a problem with the resource you are looking for, and it cannot be displayed." %}</p>
			<p>    <ul>
        <li><a href="#" onclick="location.reload(true); return false">{% trans "Reload page" %}</a></li>
        <li><a href="#" onclick="top.history.back(); return false">{% trans "Back to previous page" %}</a></li>
        <li><a href="/">{% trans "Back home" %}</a></li>
    </ul>
</p>
			</td>
				<td></td>
			</tr>
			<tr>
				<td colspan="3">&nbsp;</td>
			</tr>
			</table>
		</div>
	</div>

</body>
</html>