<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-language" content="en-en" />
  <title>BergSoft+ - maintenance</title>
  <link rel="stylesheet" href="/static/css/503.css" type="text/css" media="screen" />
  <link rel="shortcut icon" href="/static/images/favicon.ico" />
</head>
<body>{% load i18n %}
<div id="wrapper">

	<div id="header">
		<a href="/"><img src="/static/images/logo.png" alt="{% trans "Логотип компании БергСофт+" %}" /><span>{% trans "создание и поддержка сайтов" %}</span></a>
	</div>

	<div id="content">

	</div>

	<div id="fix-height"></div>
</div>
<div id="footer">&copy; BergSoft+</div>

<div id="pop-up">
	<div id="window">
		<h1>{% trans "Information" %}</h1>
		<p>{% trans "At the moment, made ​​the technical work on the site, please check back soon." %}</p>
	</div>
	<div id="window_shadow"></div>
	<div id="pop-up_shadow"></div>
</div>
</body></html>
