{% if messages %}
<div class="row">
    <div class="small-12 columns">
		{% for message in messages %}
  			<div class="panel {% if message.tags %}{{ message.tags }}{% endif %}" id="message_{{ forloop.counter }}" >{{ message|safe }}</div>
    	{% endfor %}
	</div>
</div>			
{% endif %}