{% load form_snippets_tags %}
<form action="{% url 'wishlist_add' %}" method="post" class="js-ajax-form list-edit-form" data-result=".user-wishlists" data-item="">
	<div class="form-group">
		<div class="input-group">
			<div class="input-group-addon"><i class="fa fa-heart-o"></i></div>
			{{form.name|css_class:"form-control"}}
		</div>
		{{form.name.errors}}
	</div>
{% csrf_token %}
</form>