.ratings {
	position: relative;
	width: 100px;
	height: 16px;
}
.ratings_selected {
	background: url("../images/ratings.png") repeat scroll 0 -16px rgba(0, 0, 0, 0);
	width: 0;
	height: 16px;
	position: absolute;
	z-index: 2;
}
.ratings_displayed {
	background: url("../images/ratings.png") repeat scroll 0 -16px rgba(0, 0, 0, 0);
	width: 0;
	height: 16px;
	position: absolute;
	z-index: 2;
}
.ratings_static {
	background: url("../images/ratings.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	width: 85px;
	height: 16px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.ratings_part{
	position: absolute;
	height: 16px;
	top: 0;
	left: 0;
	cursor: pointer;
}
.ratings_part1 {
	z-index: 7;
	width: 17px;
}
.ratings_part2 {
	z-index: 6;
	width: 34px;
}
.ratings_part3 {
	z-index: 5;
	width: 51px;
}
.ratings_part4 {
	z-index: 4;
	width: 68px;
}
.ratings_part5 {
	z-index: 3;
	width: 85px;
}
.ratings_part1:hover,
.ratings_part2:hover,
.ratings_part3:hover,
.ratings_part4:hover,
.ratings_part5:hover{
	background: url("../images/ratings.png") repeat scroll 0 -32px rgba(0, 0, 0, 0);
}
