{% extends "base.html" %}
{% load i18n %}

{% block main-menu %} {% with ActiveMenu='pagesmisc' %}{{ block.super }}{% endwith %}{% endblock %}

{% block crumbs %}
<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{% url 'pagesmisc_pages_list' %}" itemprop="url">
        <span itemprop="title">{% trans "Pages" %}</span>
    </a>
</li>
{% endblock %}	

