{% extends "catalog/base_leftsb.html" %}
{% load endless %}

{% block crumbs %}
<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{% url 'home_page' %}" itemprop="url">
        <span itemprop="title">Каталог товаров</span>
    </a>
</li>
{% endblock %}

{% block content %}
{% paginate 20 product_list %}

<h1 class="category-title">Климатическая техника</h1>

<div class="row">
{% for product in product_list %}
    {% if forloop.counter0|divisibleby:"3" and not forloop.first %}<div class="row">{% endif %}
    <div class="col-xs-4">{% include "catalog/includes/product_list_item.html" %}</div>
    {% if forloop.counter|divisibleby:"3" and not forloop.last %}</div>{% endif %}
{% endfor %}
</div>

{% show_pages %}
{% endblock %}