{% load i18n %}

<div class="list-item clearfix">
    <div class="title-wrap-list-item clearfix">
        <div class="title-list-item h2 pull-left">
            {{ wishlist }}
            <!-- <a href="javascript:void(0)" class="js-ajax-link" data-url="{{wishlist.get_absolute_url}}" data-result=".wishlist-items"><i class="fa fa-heart-o"></i> {{ wishlist }}</a> -->
        </div>
        
        <a class="pull-right btn-delete item-remove" title="{% trans 'Delete' %}" href="javascript:void(0)" data-url="{% url 'wishlist_delete' wishlist.pk %}">
            <i class="fa fa-trash fa-fw fa-lg"></i>
        </a>
        
        <a href="javascript:void(0)" class="pull-right item-edit" id="wishlist_{{wishlist.pk}}" title="{% trans 'Change' %}" data-target="#wishlistModal" data-field="name" data-url="{% url 'wishlist_edit' wishlist.pk %}" data-header="Переименовать список желаний" data-name="{{wishlist}}">
            <i class="fa fa-lg fa-fw fa-pencil"></i>
        </a>
    </div>
    <div class="list-item-body">
        <div class="h4">Cписок желаний пока пуст.</div>
        <p>Добавить товары в него Вы можете со страницы списка товаров или подробного описания.</p>
    </div>
</div>