{% for item in object_list %}
{% if forloop.counter <= 5 %}
<div class="container-fluid"><a class="dropdown-toggle" href="{{item.product.get_absolute_url}}">{{item.product|truncatechars:50}}</a><br></div>
{% endif %}
{% if forloop.last %}
<div class="text-center">
	<a href="{% url 'wishlist' %}">Смотреть в профиле...</a>
</div>
{% endif %}
{% empty %}
<p>Список желаний пуст</p>
{% endfor %}