{% extends "userprofiles/profile.html" %}
{% load i18n form_snippets_tags %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block crumbs %} 
	<li class="current"><span>{% trans "Change password" %}</span></li>
{% endblock %}

{% block content-title %}{% trans "Change password" %}{% endblock %}

{% block content-body %}
	<div class="medium-6 large-8 medium-centered columns">
		<div class="block-flat">
			{{form.non_field_errors}}
		    <form action="." method="post">
		        {% csrf_token %}
		        <fieldset>
		            {% for f in form %}
		            <div class="form-group">
		            	{{f.label_tag}}
		            	<div class="input-group">
		            		{{f|css_class:"form-control"}}
		            	</div>
		            	{{f.errors}}
		            </div>
		            {% endfor %}
		        </fieldset>
		        <fieldset class="submit-row">
		            <p><button type="submit" class="btn btn-success btn-default">{% trans "Change password" %}</button></p>
		        </fieldset>
		    </form>
		    
	   	</div>
	</div>
{% endblock %}
{% block sidebar-right %}
    {% with ActiveProfileSb="password_change" %}
        {% include "userprofiles/includes/left_menu_profile.html" %}
    {% endwith %}
{% endblock sidebar-right %}
