{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block crumbs %} 
	<li class="current"><span>{% trans "Reset password" %}</span></li>
{% endblock %}

{% block content %}
	<fieldset>
		<legend>{% trans "Reset password" %}</legend>
    	<p>{% blocktrans %}We successfully resetted your password.{% endblocktrans %}</p>
    </fieldset>
{% endblock %}
