{% extends "base.html" %}
{% load i18n form_snippets_tags %}

{% block title %}{% trans "Registration" %}{% endblock %}

{% block crumbs %} 
<li  itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <span itemprop="title">Создать акаунт</span>
</li>
{% endblock %}


{% block content-full %}
<div class="row margBot30">
    <div class="col-xs-5">
        <h1>Новый пользователь?</h1>
        <form action="." method="post">
            {% csrf_token %}
    		{% for f in form %}
            <div class="form-group">
            	{{f.label_tag}}
            	{{f|css_class:"form-control"}}
            	{{f.errors}}
            </div>
            {% endfor %}
    		{% comment %}
            <strong class="fs13 gray">{% trans "By clicking 'Create account' I agree that:" %}</strong>
            <ul class="fs14 list-info">
            	<li>{% trans "I have read and accepted the" %} <a href="{% url 'get_page_by_slug' 'user-agreement' %}" target="_blank" title="{% trans "opens in a new window or tab." %}">{% trans "User Agreement" %}</a> {% trans "and"%}  <a href="{% url 'get_page_by_slug' 'privacy-policy' %}" target="_blank" title="{% trans "opens in a new window or tab." %}">{% trans "Privacy Policy"%}</a></li>
            	<li>{% trans "I am at least 18 years old." %}</li>
    		</ul>
    		{% endcomment %}
            <button type="submit" class="btn btn-default pull-right">{% trans "Create account" %}</button>
        </form>
    </div>
    <div class="col-xs-5 col-xs-offset-2">
        <div class="h1">Уже зарегистрированы?</div>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email:</label>
            <input type="email" class="form-control" id="exampleInputEmail1">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Пароль:</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <p class="help-block fs13"><a href="{% url 'password_reset' %}">Забыли пароль? Сбросить Ваш пароль здесь.</a></p>
          <button type="submit" class="btn btn-default pull-right">{% trans "Войти" %}</button>
        </form>
    </div>
</div>
{% endblock %}
