{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Registration" %}{% endblock %}

{% block crumbs %} 
	<li class="current"><span>{% trans "Registration" %}</span></li>
{% endblock %}

{% block content %}
<div class="block-flat">
    <div class="title-block margBot30"><h1>{% trans "Registration" %}</h1></div>

    {% if account %}
        <p>
            {% blocktrans %}We activated your account. You are now able to log in. Have fun!{% endblocktrans %}
        </p>
    {% else %}
        <p>
            {% blocktrans %}The submitted activation code is invalid. Activation is not possible.{% endblocktrans %}
        </p>
    {% endif %}
</div>
{% endblock %}
